/* Estilos de botões */
button {
    padding: 8px 16px;
    border: none;
    border-radius : 15px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.4s;
}

button:hover {
    background-color: #91129a;

    border
}

/* Estilo de entrada de texto */
input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
}

/* Estilo de lista de tarefas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

li.completed {
    background-color: #abd2f881;
    color: #6c757d;
}

/* Estilos de checkbox */
input[type="checkbox"] {
    margin-right: 8px;
}

/* Ícones personalizados */
button::before {
    content: "\f040";
    font-family: "Font Awesome 5 Free";
    margin-right: 8px;
}

/* Espaçamento e alinhamento */
h1 {
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Gradiente de fundo */
body {
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
}
